# Токен бота від @BotFather
BOT_TOKEN=8810909765:AAGmE8_G4r35eE42sobvou4iudZ5OHiEFfc

# Telegram ID адміністратора (отримати у @userinfobot)
ADMIN_ID=6166155438

# (Опційно) username менеджера без @ — для кнопки "Написати менеджеру"
MANAGER_USERNAME=@ewgeess
